{
    "api_key":"<API_KEY>",
    "api_base_url":"https://api.guildwars2.com/",
    "endpoints":{
        "items":"v2/items",
        "account-materials":"v2/account/materials"
    },
    "tracked_materials":[
        86977,86069,87645,88955,89537,90783
    ]
}